.nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  
}

.middle{
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  flex-grow: 1;
  max-width: 35rem;
  margin: 0rem 1rem;
}
.searchInput{
  flex-grow: 1;
  padding: 0.5rem;
  margin: 0rem 0.5rem;
  border-radius: 10px;
  border: solid;
  border-width: 2px;
  font-size: 1rem;
  border-color: rgb(20, 91, 54);
  color:rgb(20, 91, 54);
  /* background-image: url('../Images/Icons/search.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center; /*on right side with 10px margin */  
}
.searchIcon{
  height: 1.7rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.searchIcon:active {
  transform: scale(0.8);
}






.login{
  height: 1rem;
  border: solid 2px;
  padding: 0.5rem;
  background-color: rgb(196, 216, 124);
  border-radius: 10px;
  border-color: rgb(20, 91, 54);
  cursor: pointer;
  vertical-align: middle;
}





