.container{
  width: auto;
  max-width: 500px;
  height: auto;
  margin: auto;
  margin-top: 75px;
  border-radius: 5rem;
  background-image: linear-gradient(180deg, #97d49b 0%, #004C37 100%);
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3{
  margin: 0;
}
.info{
  line-height: 1.5rem;
}